@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@400;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100%;
    height: 400px;
    background-color: #c29077;
}

.head h2{
    color: black;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    font-family: 'poppins serif';
    font-weight: bolder;
    text-shadow: 4px 4px rgb(161, 159, 159);
}

.nav h4{
    padding-left: 20px;
}

.head{
    margin-left: 120px;
    padding-top: 60px;
    padding-right: 300pxpx;
    clear: left;
}

.nav li{
    display: inline;
    float: left;
    margin: 20px;
    clear: right;
}

.nav{
    float: right;
    margin-top: -70px;
    margin-right: 50px;
}

.para p{
    word-spacing: 1px;
    line-height: 20px;
    color: rgb(32, 30, 30);
    font-weight: medium;
    font-size: 18px;
    text-align: center;
}

.para{
    margin: 40px;
    margin-top: 50px;
}

button{
    height: 30px;
    width: 250px;;
    text-align: center;
    margin-left: 45%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #a96741;
    border: none;
    box-shadow: 4px 4px gray;
}

.head h4{
    display: inline;
    padding-right: 200px;
    padding-left: 100px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.head{
    margin-left: 150px;
    margin-right: 100px;
}

.Middle {
    width: 1300px;
    max-width: 100%;
    margin: 30px 0;
}

.box {
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 20px 60px;
    display: inline;
    float: left;
    width: 1400px;
    height: 50%;
    margin-top: -30px;
}

.Middle .first {
    display: inline;
    margin-top: 40px;
    width: 800px;
    margin-top: -350px;
}
.first {
    flex-wrap: wrap;
    margin: 60px;
}

.first p{
    width: 300px;
}

.Middle .second{
    float: right;
    padding-top: 5px;
    padding-left: 100px;
    display: inline;
    margin-top: -315px;
}

.second {
    flex-wrap: wrap;
    margin: 60px;
}

.second p{
    width: 300px;
}

.Middle .third{
    float: right;
    padding-top: 5px;
    padding-left: 200px;
    display: inline;
    margin-top: -315px;
}

.third {
    flex-wrap: wrap;
    margin: 60px;
}

.third p{
    width: 300px;
}

.box img{
    box-shadow: 7px 6px rgb(156 154 154)
}

.footer{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 150px;
    background-color: rgb(37, 35, 35);
}

.icon{
    display: flex;
}

.icon i{
    padding-left: 100px;
    padding-top: 50px;
}

.icon h2{
    padding-left: 10px;
    padding-top: 50px;
    color: rgb(177, 172, 172);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.navi ul{
    float: left;
    margin-left: 700px;
}

.navi ul li{
    list-style: none;
    padding-top: 40px;
    padding-left: 20px;
    color: rgb(177, 172, 172);
    display: inline;
    float: left;
    margin: 20px;
    clear: right;
}